{% extends "layouts/html.twig" %}

{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <div class="section">
        <h3>
            Ce site recense les derniers sinistres qui ont eu lieu à travers le monde.<br />
            Vous pouvez contribuer à l'aide humanitaire en faisant un don qui permettra d'acheter les produits de première nécessité grâce à notre partenaire <a href="http://cdiscount.com">CDiscount</a>.
        </h3>
    </div>

    <section id="allDisasters">

        {% for disaster in disasters %}


            <div class="section">
                <h5 class="center-align" style="text-decoration: underline;"><b>{{ disaster.name }}</b></h5>

                <div class="row">
                    <div class="col s6">
                        <div class="card">
                            <div class="card-image">
                                <div class="row">
                                    <div class="col s8">
                                        <h2 style="margin-left: 2%;">
                                            <i class="icon icon-globe"></i> {{ disaster.location }}
                                            <small>{{ disaster.date }}</small>
                                        </h2>
                                    </div>
                                    <div class="col s4" style="font-style: italic;padding-top:3%;font-size: 1.5em;;">
                                        {{ disaster.type }}
                                    </div>
                                </div>

                                <img src="assets/images/tsunami.jpg"/>
                            </div>
                            <div class="card-content">
                                Produit en cours : {{ disaster.product.get_name() }} ({{ disaster.getTotalProduct() }} / {{ disaster.product.get_price() }}€)
                                {% if disaster.getTotalProduct() >  disaster.product.get_price() %}
                                    <strong style="font-weight: bold;color:green;">Merci !</strong>
                                {% endif %}

                                <img src="assets/images/objects/{{ disaster.product.get_id() }}.jpg" alt="Img" />
                            </div>
                        </div>
                    </div>
                    <div class="col s6 valign-wrapper" style="padding-top:8%;">
                        <div class="row valign">
                            <div class="col s12">
                                <div class="row">
                                    <div id="chart_{{ disaster.id }}"
                                         style="border:black solid 1px; width: 100%;height:250px;"></div>
                                </div>
                                <div class="row">
                                    <p>
                                        Si vous souhaitez faire un don pour aider les sinistrés, entrez le montant de
                                        votre
                                        aide ci-dessous:
                                    </p>
                                </div>

                                <div class="row">
                                    <form action="?c=dons" method="post">
                                        <div class="input-field col s8 offset-s1">
                                            <i class="icon-eur material-icons prefix"></i>
                                            <input value="" data-id="{{ disaster.id }}" type="text" class="validate">
                                            <label class="active" for="don" style="top:5px">Don</label>
                                        </div>
                                        <div class="col s4">
                                            <button class="btn waves-effect waves-light" style="top:12px" type="submit" name="action">
                                                Donner
                                                <i class="material-icons right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="divider"></div>

        {% endfor %}

    </section>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            var chart;

            {%  for disas in disasters %}
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart_{{ disas.id }}',
                    type: 'pie'
                },
                title: {
                    "text": ""
                },
                plotOptions: {
                    pie: {
                        innerSize: '60%'
                    }
                },
                series: [{
                    data: [
                        ['Accompli', {{ disas.get_percent() }}],
                        ['Non accompli', {{ 100-disas.get_percent() }}]
                    ]
                }]
            });
            {%  endfor %}

        });
    </script>

{% endblock %}